<section class="footer">
  <div class="about">
    <h3 class="about__title">About us</h3>
    <p class="about__desc">
      Far far away, behind the word mountains, far from the countries Vokalia
      and Consonantia, there live the blind texts.
    </p>
    <!-- <div class="about__socials-container"> -->
    <ul class="about__social-list">
      <li class="about__social-item about__social-item--twitter"></li>
      <li class="about__social-item about__social-item--facebook"></li>
      <li class="about__social-item about__social-item--instagram"></li>
    </ul>
    <!-- </div> -->
  </div>
  <div class="blog">
    <h3 class="blog__title">Recent blog</h3>
  </div>
  <div class="services">
    <h3 class="services__title">Services</h3>
    <ul class="services__list">
      <li class="services__list-item">Cooked</li>
      <li class="services__list-item">Deliver</li>
      <li class="services__list-item">Quality Foods</li>
      <li class="services__list-item">Mixed</li>
    </ul>
  </div>
  <div class="contact">
    <h3 class="contact__title">Have a question?</h3>
    <ul class="contact__list">
      <li class="contact__address"> <span class="contact__address-icon"></span> 203 Fake St. Mountain View, San Francisco, California, USA</li>
      <li>
        <a class="contact__tel" href="tel:2-392-3929-210">
          <span class="contact__tel-icon"></span>+2 392 3929 210
        </a>
      </li>
      <li><a class="contact__mail" href="mailto:info@yourdomain.com">
        <span class='contact__mail-icon'></span> info@yourdomain.com</a></li>
    </ul>
  </div>
</section>
<div class="copyrights">Copyright ©2019 All rights reserved | This template is made with  by Colorlib</div>
