<section class="footer">
  <div class="footer__about">
    <h2 class="about__title">About us</h2>
    <p class="about__desc">
      Far far away, behind the word mountains, far from the countries Vokalia
      and Consonantia, there live the blind texts.
    </p>
    <!-- <div class="about__socials-container"> -->
      <ul class="about__social-list">
        <li class="about__social-item about__social-item--twitter"></li>
        <li class="about__social-item about__social-item--facebook"></li>
        <li class="about__social-item about__social-item--instagram"></li>
      </ul>
    <!-- </div> -->
  </div>
  <div class="footer__blog">

  </div>
  <div class="footer__services">
    
  </div>
</section>
