<section class="container nav">
  <div class="nav__logo">
    <a class="nav__logo-link" href="#"
      >Pizza<span class="nav__logo-span">Delicous</span>
    </a>
  </div>
  <ul class="nav__menu">
    <li class="nav__menu-item">
      <a class="nav__menu-link" href="#">Home</a>
    </li>
    <li class="nav__menu-item">
      <a class="nav__menu-link" href="#">Menu</a>
    </li>
    <li class="nav__menu-item">
      <a class="nav__menu-link" href="#">Services</a>
    </li>
    <li class="nav__menu-item">
      <a class="nav__menu-link" href="#">Blog</a>
    </li>
    <li class="nav__menu-item">
      <a class="nav__menu-link" href="#">About </a>
    </li>
    <li class="nav__menu-item">
      <a class="nav__menu-link" href="#">Contact</a>
    </li>
  </ul>
</section>
