@import 'variables.scss';
@import 'mixins.scss';

$navListFontSize: $smallFontSize;

$logoLinkFontSize: 2.5rem;
$logoIconFontSize: 1.7rem;
$logoSpanFontSize: 1.3rem;

$mobileBtnFontSize: 1.7rem;

:host {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.nav {
  background: $black;
  color: $white;
  font-size: $navListFontSize;

  &__container {
    @include bootstrapContainer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include lg {
      display: block;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }

  &__row {
    @include lg {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    line-height: 1.2;
    cursor: pointer;
  }

  &__logo-link {
    color: $white;
    font-family: $secondarySemiBoldFont;
    text-decoration: none;
    font-size: $logoLinkFontSize;
  }

  &__logo-link::before {
    content: '';
    display: inline-block;
    margin-right: 1rem;
    width: 1.5em;
    height: 1.5em;
    background: url(/assets/icons/pizza.png);
    background-size: cover;
    vertical-align: top;
    font-size: $logoIconFontSize;
  }

  &__logo-span {
    display: block;
    color: $orange;
    font-size: $logoSpanFontSize;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
  }

  &__menu {
    display: flex;
    height: auto;
    list-style: none;
    transition: transform 2s ease;
    margin-bottom: 0;

    @include lg {
      display: none;
      text-align: center;

      &--active {
        display: block;
      }
    }
  }

  &__menu-item {
    cursor: pointer;
  }

  &__menu-link {
    display: block;
    padding: 2.5rem;
    text-decoration: none;
    color: $white;

    &--active {
      color: $orange;
    }
  }

  //  ----- Mobile
  &__mobile-btn {
    display: none;
    background: none;
    color: $lightGrey;
    border: none;
    font-size: $mobileBtnFontSize;
    text-transform: uppercase;
    cursor: pointer;

    @include lg {
      display: block;
    }
  }

  &__mobile-btn:focus {
    outline-color: $orange;
  }

  &__mobile-btn::before {
    content: $hamburgerIconCode;
    font-family: FontAwesome;
  }
}
