<header class="nav">
  <nav class="nav__container">
    <div class="nav__row">
      <div class="nav__logo">
        <a class="nav__logo-link" routerLink="/home"
          >Pizza<span class="nav__logo-span">Delicous</span>
        </a>
      </div>
      <button class="nav__mobile-btn" (click)="toggleMenu()">
        Menu
      </button>
    </div>
    <ul class="nav__menu" [ngClass]="{ 'nav__menu--active': isMobileMenuOpen }">
      <li class="nav__menu-item nav__menu-link--active">
        <a
          class="nav__menu-link"
          routerLink="/home"
          routerLinkActive="nav__menu-link--active"
          (click)="closeMenu()"
          >Home</a
        >
      </li>
      <li class="nav__menu-item">
        <a
          class="nav__menu-link"
          routerLink="/menu"
          routerLinkActive="nav__menu-link--active"
          (click)="closeMenu()"
          >Menu</a
        >
      </li>
      <li class="nav__menu-item">
        <a
          class="nav__menu-link"
          routerLink="/services"
          routerLinkActive="nav__menu-link--active"
          (click)="closeMenu()"
          >Services</a
        >
      </li>
      <li class="nav__menu-item">
        <a
          class="nav__menu-link"
          routerLink="/about"
          routerLinkActive="nav__menu-link--active"
          (click)="closeMenu()"
          >About
        </a>
      </li>
      <li class="nav__menu-item">
        <a
          class="nav__menu-link"
          routerLink="/contact"
          routerLinkActive="nav__menu-link--active"
          (click)="closeMenu()"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
