@import 'variables';
@import 'mixins.scss';

.services {
  background-image: url(/assets/images/food.png);
  background-position: center center;
  text-align: center;

  &__container {
    @include bootstrapContainer;
    margin: 0 auto;
    padding: 10rem 0;
    
    @include md {
      padding: 10rem 2.5rem;
    } 
  }

  &__title {
    @include sectionTitle;
    margin-bottom: 3rem;
  }

  &__desc {
    @include sectionDesc;
    font-family: $primaryLightFont;
    margin: 0 auto 8rem auto;
    max-width: 55rem;
    font-weight: 300;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;

    @include md {
      display: block;
    }
  }

  &__list-item {
    @include md {
      display: flex;
      justify-content: center;
      margin-bottom: 7rem;
    }
  }
}
