<section class="achievements">
  <div class='achievements__container'>
    <div class='achievements__item'>
      <app-rotated-icon class="achivements__icon" [iconSrc]='src'></app-rotated-icon>
      <h3 class=achievements__number>100</h3>
      <p class='achievements__desc'>Pizza Branches</p>
    </div>

    <div class='achievements__item'>
      <app-rotated-icon [iconSrc]='src'></app-rotated-icon>
      <h3 class=achievements__number>100</h3>
      <p class='achievements__desc'>Pizza Branches</p>
    </div>

    <div class='achievements__item'>
      <app-rotated-icon [iconSrc]='src'></app-rotated-icon>
      <h3 class=achievements__number>100</h3>
      <p class='achievements__desc'>Pizza Branches</p>
    </div>
    
    <div class='achievements__item'>
      <app-rotated-icon [iconSrc]='src'></app-rotated-icon>
      <h3 class=achievements__number>100</h3>
      <p class='achievements__desc'>Pizza Branches</p>
    </div>
  </div>
</section>
