@import 'variables.scss';

$titleFontSize: 1.6rem;
$descFontSize: 1.4rem;

.contact-bar-item {
  font-size: $titleFontSize;
  line-height: 3rem;

  &__title {
    font-family: Josefin-semibold;
  }

  &__desc {
    color: $grey;
    font-size: $descFontSize;
  }
}