@font-face {
  font-family: Poppins-regular;
  src: url('/assets/fonts/Poppins-Regular.ttf') format('opentype');
}

@font-face {
  font-family: Poppins-light;
  src: url('/assets/fonts/Poppins-Light.ttf') format('opentype');
}

@font-face {
  font-family: Poppins-bold;
  src: url('/assets/fonts/Poppins-Bold.ttf') format('opentype');
}

@font-face {
  font-family: Josefin-regular;
  src: url('/assets/fonts/JosefinSans-Regular.ttf') format('opentype');
}

@font-face {
  font-family: Josefin-light;
  src: url('/assets/fonts/JosefinSans-Light.ttf') format('opentype');
}

@font-face {
  font-family: Josefin-semiBold;
  src: url('/assets/fonts/JosefinSans-SemiBold.ttf') format('opentype');
}

@font-face {
  font-family: Josefin-bold;
  src: url('/assets/fonts/JosefinSans-Bold.ttf') format('opentype');
}