@import './variables';

@mixin xxl {
  @media only screen and (max-width: 1500px) {
    @content;
  }
}
@mixin xl {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin lg {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

@mixin md {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin sm {
  @media only screen and (max-width: 576px) {
    @content;
  }
}

@mixin bootstrapContainer {
  max-width: 114rem;

  @include xl {
    max-width: 96rem;
  }

  @include lg {
    max-width: 72rem;
  }

  @include md {
    max-width: 54rem;
  }
}

@mixin bgImagePosition {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin sectionTitle(
  $color: '#000000',
  $fontSize: $sectionTitleFontSize,
  $fontFamily: $secondarySemiBoldFont
) {
  color: $color;
  font-size: $fontSize;
  font-family: $fontFamily;
  text-transform: uppercase;
}

@mixin sectionDesc(
  $color: '#000000',
  $fontSize: $sectionDescFontSize,
  $fontFamily: $primaryLightFont
) {
  color: $color;
  font-size: $fontSize;
  font-family: $fontFamily;
}
