@import './variables';

@mixin xxl {
  @media only screen and (max-width: 1500px) {
    @content;
  }
}
@mixin xl {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin lg {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

@mixin md {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin sm {
  @media only screen and (max-width: 576px) {
    @content;
  }
}

@mixin bootstrapContainer {
  max-width: 114rem;
  margin: 0 auto;

  @include xl {
    max-width: 96rem;
  }

  @include lg {
    max-width: 72rem;
  }

  @include md {
    max-width: 54rem;
  }

  @include sm {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@mixin bgImagePosition {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin sectionTitle(
  $color: '#000000',
  $fontSize: $sectionTitleFontSize,
  $fontFamily: $secondarySemiBoldFont
) {
  color: $color;
  font-size: $fontSize;
  font-family: $fontFamily;
  text-transform: uppercase;
}

@mixin sectionDesc(
  $color: #000000,
  $fontSize: $sectionDescFontSize,
  $fontFamily: $primaryLightFont
) {
  color: $color;
  font-size: $fontSize;
  font-family: $fontFamily;
}

@mixin buttonBig(
  $padding: 1.4rem 2.4rem,
  $color: $black,
  $bgColor: $orange,
  $borderColor: $orange,
  $colorActive: $orange,
  $bgActive: transparent,
  $borderColorActive: $orange,
  $outline: none
) {
  padding: $padding;
  color: $color;
  background-color: $bgColor;
  border-color: $borderColor;
  outline: $outline;

  &:active,
  &:focus,
  &:hover {
    color: $colorActive;
    background-color: $bgActive;
    border-color: $borderColorActive;
  }
}
