// Colors
$black: #000000;
$white: #ffffff;
$darkGrey: #201e21;
$grey: #808080;
$lightGrey: #bfbfbf;
$orange: #fac564;

// Fonts
$primaryLightFont: Poppins-light;
$primaryRegularFont: Poppins-light;
$primaryBoldFont: Poppins-light;

$secondaryLightFont: Josefin-light;
$secondaryRegularFont: Josefin-regular;
$secondarySemiBoldFont: Josefin-semiBold;
$secondaryBoldFont: Josefin-bold;

// Font sizes
$sectionTitleFontSize: calc(28px + (32 - 28) * ((100vw - 320px) / (1550 - 320)));
$sectionSubTitleFontSize: 1.8rem;
$sectionDescFontSize: 1.6rem;
$smallFontSize: 1.4rem;

// FontAwesome icons
$hamburgerIconCode: '\f0c9';
$searchIconCode: '\f002';
$phoneIconCode: '\f095';
$locationArrowIconCode: '\f124';
$clockIconCode: '\f017';
$twitterIconCode: '\f099';
$facebookIconCode: '\f082';
$instagramIconCode: '\f16d';