<section [@scrollAnimation]="state" class="services">
  <div class="services__container">
    <h2 class="services__title">Our services</h2>
    <h4 class="services__desc">
      Far far away, behind the word mountains, far from the countries Vokalia
      and Consonantia, there live the blind texts.
    </h4>
    <!-- <div class="services__list-container"> -->
      <ul class='services__list'>
        <li class="services__list-item" *ngFor="let service of services">
          <app-service-item class='services__service'
            [service]="service"
          ></app-service-item>
        </li>
      </ul>
    <!-- </div> -->
  </div>
</section>
