@import 'variables';
@import 'mixins.scss';

.services {
  background-image: url(../../../../assets/images/food.png);
  background-position: center center;
  text-align: center;

  &__container {
    padding: 10rem 0;
  }

  &__title {
    @include sectionTitle;
  }

  &__desc {
    @include sectionDesc;
    font-family: $primaryLightFont;
    margin: 0 auto;
    max-width: 45rem;
    font-weight: 300;
  }

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
  }

}